
@{
    ViewData["Title"] = "CheckYourInBox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
        <div class="body">
            Please Reset Link Has Been sent to your Mail , Please Check your Inbox
        </div>
        <a href="https://mail.google.com/mail/u/0/#inbox" >go to Your Inbox</a>
    </div>
</div>

